In [3]:
import pandas as pd

In [4]:
train_data = pd.read_feather("train_data.ftr")

In [5]:
train_data.head()
train_data.shape

(5531451, 190)

In [6]:
train_data_2 = train_data[["customer_ID","S_2","D_48", 'B_18','B_2', 'B_9','D_44','D_75','R_1','S_7','S_3']]
train_data_2.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,R_1,S_7,S_3
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.255615,0.652832,1.006836,0.008209,0.000630,0.069092,0.009224,0.161377,0.124023
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.223389,0.646973,1.000977,0.008369,0.002525,0.074158,0.006153,0.140991,0.126709
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.189453,0.645996,1.009766,0.009354,0.007607,0.076538,0.006817,0.112244,0.123962
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.135620,0.654297,1.002930,0.006783,0.006405,0.071533,0.001372,0.102844,0.117188
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,NaN,0.649902,1.000977,0.000519,0.007732,0.074463,0.007607,0.094299,0.117310

In [9]:
train_data_3 = train_data_2.sort_values(['customer_ID', 'S_2'], ascending = [True, False])
train_data_3.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,R_1,S_7,S_3
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.006104,0.105652,0.135010
11,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-02-21,0.237183,1.004883,1.008789,0.001063,0.005108,0.009682,0.000607,0.077332,0.102966
10,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-01-11,0.325684,1.006836,1.004883,0.006718,0.002390,0.009895,0.008179,0.078369,0.098877
9,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-12-04,0.403564,1.007812,1.007812,0.007080,0.007595,0.004539,0.001772,0.074646,0.100464
8,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-11-20,0.189331,1.007812,1.003906,0.006821,0.002579,0.000035,0.001789,0.077209,0.102783

In [11]:
train_data_4 = train_data_3.drop_duplicates(subset=["customer_ID"], keep="first")
train_data_4.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,R_1,S_7,S_3
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.006104,0.105652,0.135010
25,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2018-03-25,0.014694,1.003906,1.003906,0.012924,0.008781,0.009598,0.006912,0.208496,0.165527
38,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2018-03-12,0.080383,1.003906,0.812500,0.009392,0.000628,0.003328,0.006451,NaN,NaN
51,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2018-03-29,NaN,1.006836,1.005859,0.020523,0.007793,0.005505,0.007828,0.279541,0.287842
64,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2018-03-30,0.325195,0.531250,0.815918,0.004028,0.002436,0.142578,0.001247,NaN,NaN

In [17]:
train_data_4.shape

(458913, 11)

In [12]:
train_data_label = pd.read_csv("train_labels.csv")
train_data_label.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [13]:
train_data_final = pd.merge(train_data_4,train_data_label,how="left",on="customer_ID")

In [14]:
train_data_final.head()

,customer_ID,S_2,D_48,B_18,B_2,B_9,D_44,D_75,R_1,S_7,S_3,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2018-03-13,0.192383,1.007812,1.007812,0.009537,0.003258,0.001352,0.006104,0.105652,0.135010,0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,2018-03-25,0.014694,1.003906,1.003906,0.012924,0.008781,0.009598,0.006912,0.208496,0.165527,0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,2018-03-12,0.080383,1.003906,0.812500,0.009392,0.000628,0.003328,0.006451,NaN,NaN,0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,2018-03-29,NaN,1.006836,1.005859,0.020523,0.007793,0.005505,0.007828,0.279541,0.287842,0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,2018-03-30,0.325195,0.531250,0.815918,0.004028,0.002436,0.142578,0.001247,NaN,NaN,0

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [16]:
X_train = train_data_final[["customer_ID", "S_2", "D_48",'B_18','B_2', 'B_9','D_44','D_75','R_1','S_7']]
X_train.isnull().sum()

customer_ID        0
S_2                0
D_48           57992
B_18               0
B_2               31
B_9                0
D_44           22295
D_75               0
R_1                0
S_7            84970
dtype: int64

In [66]:
D_48_raw = X_train[["D_48"]]
D_48 = D_48_raw.dropna()
D_48_new = D_48_raw.fillna(D_48.median(axis=0))

B_2_raw = X_train[["B_2"]]
B_2 = B_2_raw.dropna()
B_2_new = B_2_raw.fillna(B_2.median(axis=0))

D_44_raw = X_train[["D_44"]]
D_44 = D_44_raw.dropna()
D_44_new = D_44_raw.fillna(D_44.median(axis=0))

S_7_raw = X_train[["S_7"]]
S_7 = S_7_raw.dropna()
S_7_new = S_7_raw.fillna(S_7.median(axis=0))

In [74]:
X_train_2 = train_data_final[["customer_ID",'B_18','B_9','D_75','R_1']]
X_train_2["D_48"] = D_48_new * 1.00
X_train_2["B_2"] = B_2_new * 1.00
X_train_2["D_44"] = D_44_new * 1.00
X_train_2["S_7"] = S_7_new * 1.00

X_train_2.isnull().sum()

/tmp/ipykernel_5555/1326217813.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_2["D_48"] = D_48_new * 1.00
/tmp/ipykernel_5555/1326217813.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_2["B_2"] = B_2_new * 1.00
/tmp/ipykernel_5555/1326217813.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_2["D_44"] = D_44_new * 1.00
/tmp/ipykernel_5555/1326217813.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_2["S_7"] = S_7_new * 1.00

customer_ID    0
B_18           0
B_9            0
D_75           0
R_1            0
D_48           0
B_2            0
D_44           0
S_7            0
dtype: int64

In [77]:
X_train_final = X_train_2[["D_48",'B_18','B_2', 'B_9','D_44','D_75','R_1','S_7']]
y_train = train_data_final[["target"]]
logreg = LogisticRegression()
logreg.fit(X_train_final, y_train)

/opt/conda/lib/python3.10/site-packages/sklearn/utils/validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [78]:
test_data = pd.read_feather("test_data.ftr")

In [80]:
test_data_1 = test_data[["customer_ID", "S_2", "D_48",'B_18','B_2', 'B_9','D_44','D_75','R_1','S_7']].sort_values(['customer_ID', 'S_2'], ascending = [True, False])
test_data_2 = test_data_1.drop_duplicates(subset=["customer_ID"], keep="first")
test_data_2.isnull().sum()

customer_ID         0
S_2                 0
D_48           116986
B_18                0
B_2                43
B_9                 0
D_44            44612
D_75                0
R_1                 0
S_7            144280
dtype: int64

In [99]:
D_48_raw = test_data_2[["D_48"]]
D_48 = D_48_raw.dropna()
D_48_new = D_48_raw.fillna(D_48.median(axis=0))

B_2_raw = test_data_2[["B_2"]]
B_2 = B_2_raw.dropna()
B_2_new = B_2_raw.fillna(B_2.median(axis=0))

D_44_raw = test_data_2[["D_44"]]
D_44 = D_44_raw.dropna()
D_44_new = D_44_raw.fillna(D_44.median(axis=0))

S_7_raw = test_data_2[["S_7"]]
S_7 = S_7_raw.dropna()
S_7_new = S_7_raw.fillna(S_7.median(axis=0))


X_test_2 = test_data_2[["customer_ID",'B_18','B_9','D_75','R_1']]
X_test_2["D_48"] = D_48_new * 1.00
X_test_2["B_2"] = B_2_new * 1.00
X_test_2["D_44"] = D_44_new * 1.00
X_test_2["S_7"] = S_7_new * 1.00

X_test_2.isnull().sum()
X_test_2.shape

/tmp/ipykernel_5555/3006243694.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_2["D_48"] = D_48_new * 1.00
/tmp/ipykernel_5555/3006243694.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_2["B_2"] = B_2_new * 1.00
/tmp/ipykernel_5555/3006243694.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_2["D_44"] = D_44_new * 1.00
/tmp/ipykernel_5555/3006243694.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test_2["S_7"] = S_7_new * 1.00

(924621, 9)

In [113]:
test_out_1 = logreg.predict_proba(X_test_2[["D_48",'B_18','B_2', 'B_9','D_44','D_75','R_1','S_7']])
test_out_1

array([[0.93502195, 0.06497805],
       [0.9844792 , 0.0155208 ],
       [0.92177294, 0.07822706],
       ...,
       [0.60856408, 0.39143592],
       [0.75332518, 0.24667482],
       [0.97395238, 0.02604762]])

In [118]:
test_out_2 = pd.DataFrame(test_out_1,columns=["1_minus_pred","prediction"])

   1_minus_pred  prediction
0      0.935022    0.064978
1      0.984479    0.015521
2      0.921773    0.078227
3      0.416488    0.583512
4      0.147102    0.852898

In [151]:
cus = X_test_2["customer_ID"].reset_index()
pred = test_out_2["prediction"]

test_out_3 = pd.concat([cus["customer_ID"],pred],ignore_index=True,axis=1)
test_out_3.rename(columns = {0:'customer_ID', 1:'prediction'}, inplace = True)

test_out_3.head()

                                         customer_ID  prediction
0  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.064978
1  00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...    0.015521
2  0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...    0.078227
3  00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...    0.583512
4  00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...    0.852898

In [152]:
test_out_3.to_csv("Submission_Logis_LatestDate_fillna.csv", index=False)

In [153]:
!kaggle competitions submit -c amex-default-prediction -f Submission_Logis_LatestDate_fillna.csv -m "Message"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/jovyan/.kaggle/kaggle.json'
100%|██████████████████████████████████████| 74.9M/74.9M [00:04<00:00, 16.8MB/s]
Successfully submitted to American Express - Default Prediction